.container {
      display: flex;
      width: 80vw;
      height: 80vh;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }

    .left {
      width: 50%;
      background: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f') no-repeat center center/cover;
    }

    .right {
      background-color: white;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .login-box h2 {
      margin-bottom: 20px;
      text-align: center;
    }

    .input-group {
      margin-bottom: 15px;
    }

    .input-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .btn {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    .btn:hover {
      background-color: #0056b3;
    }

    @media (max-width: 768px) {
      .left {
        display: none;
      }

      .right {
        width: 100%;
      }
    }